<div class="container">
  <div class="flex-container" fxLayout="row" fxLayoutAlign="space-around start">
    <div fxFlex="50">
    <mat-card>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>Start</mat-card-subtitle>

    </mat-card>
  </div>
    <mat-card>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>Start</mat-card-subtitle>
  
    </mat-card>

    <mat-card>
      <mat-card-title>Actions Buttons</mat-card-title>
      <mat-card-subtitle>Start</mat-card-subtitle>
    
    </mat-card>
     </div>
  </div>
  <app-product></app-product>
  <router-outlet></router-outlet>
